/***************************
       HEADER CONTENT  
 ***************************/

/* Style for the top row */

.top-row {
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       align-items: center;
       gap: 1rem;
       background-color: #F3EFEA;
       height: auto;
       padding: 1rem 6.25rem 1rem 6.25rem;
     }
     
     .icon{
       width: 1.875rem;
       height: 1.875rem;
     }
     
     /* Style for the bottom row */
     
     .bottom-row {
       background-color: white;
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 6rem;
       padding: 1rem 6.25rem 1rem 6.25rem;
     }
     
     .logo img {
       height: 6rem;
       width:auto;
     }
     
     .icons{
       display: flex;
       flex-direction: row;
       justify-content: flex-end;
       align-items: center;
       gap: 1rem;
       height: auto;
       padding: 1rem 0rem 1rem 0rem;
     }
     
     .icons-group{
       display: flex;
       flex-direction: row;
       align-items: flex-end;
       gap: 1rem;
     }
     
     .navigation-category {
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
     }
     
     .navigation-items {
       display: flex;
       flex-direction: row;
       align-items: center;
       gap:0.3rem;
       background-color: white;
       padding: 10px;
       border: none;
       cursor: pointer;
     }
     
     .navigation-items h4{
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 1.3rem;
       color: #4B465A;
     }
     
     .arrow{
       width: 1.5rem;
       height: 1.5rem;
     }
     
     .navigation {
       display: flex;
       flex-direction: row;
       gap: 3.125rem;
       justify-content: space-between;
       align-items: center;
     }
     
     .navigation-detail {
       background-color: white;
       display: none;
       position: absolute;
       align-items: center;
       top: 100%;
       left: 0;
       z-index: 1;
     }
     
     .navigation-category:hover .navigation-detail {
       display: block;
     }
     
     .navigation-detail a {
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 1rem;
       color: #4B465A;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
     }
     
     .navigation-detail a:hover {
       background-color: #f1f1f1;
     }
     
     .bottom-row select {
       font-size: 16px;
       padding: 10px;
       margin-left: 10px;
     }
     
     .bottom-row .icons i {
       font-size: 20px;
       margin-left: 10px;
     }
     
     /***************************
            FOOTER CONTENT  
      ***************************/
     
     footer {
       background-color: #F3EFEA;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 2.5rem;
       padding: 4rem 6.25rem 4rem 6.25rem;
     }
     
     .footer-row1 {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       align-items: center;
       align-self: center;
       padding: 0rem;
     }
     
     .column {
       width: 15rem;
       height: auto;
       display: flex;
       flex-direction: column;
       gap: 1rem;
       align-items: center;
     }
     
     .column img{
       width: 13rem;
       height: 13rem;
     }
     
     .column:last-child {
       margin-right: 0;
     }
     
     .column h3 {
       font-family: 'Montserrat';
       font-weight: 700;
       font-size: 1.6rem;
       color: #4B465A;
       line-height: 3rem;
     
     }
     
     .column ul {
       display: flex;
       flex-direction: column;
       gap: 1.3rem;
       align-items: center;
       list-style: none;
       margin: 0;
       padding: 0;
     }
     
     .column ul li {
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 1rem;
       color: #4B465A;
       line-height: 1.3rem;
       text-align: center;
     }
     
     .footer-row2 {
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       gap: 1.875rem;
     }
     
     .social{
       height:3.125rem;
       width: 3.125rem;
     }
     
     footer p{
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 1rem;
       color: #4B465A;
       line-height: 2rem;
       text-align: center;
     }

/***************************
       OVERALL LAYOUT  
 ***************************/
 main {
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 4.4rem;
       padding-top: 4.375rem;
       padding-bottom: 4.375rem;
       padding-left: 6.25rem;
       padding-right: 6.25rem;
}

/***************************
       CONFIRMATION MESSAGE  
 ***************************/

#confirmation-container{
       background-color: #F3EFEA;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 8rem 17.5rem;
       gap: 1.875rem;
}

#confirmation-container h1{
       font-family: 'Montserrat';
       font-weight: 700;
       font-size: 3.125rem;
       color:#4B465A;
}

#confirmation-container h3{
       font-family: 'Montserrat';
       font-weight: 700;
       font-size: 1.875rem;
       color:#4B465A;
}

#confirmation-container p{
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 1.25rem;
       color: #4B465A;
       text-align: center;
       line-height: 2rem;
}

#button-area{
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 1.875rem;
}

/***************************
       ARNGREN'S CHOICE 
 ***************************/
#Arngren-choice{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 2.5rem;
}

#Arngren-choice h1{
       font-family: 'Montserrat';
       font-weight: 700;
       font-size: 3.125rem;
       color:#AA4E43;
       align-self:start;
}

.Arngren-choice{
       display: flex;
       flex-direction: row;
       align-items: center;
       padding: none;
       gap: 1.875rem;
}

.product{
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-bottom: 2.5rem;
       gap:1.5rem;
       background: #FFFFFF;
       box-shadow: 0rem 0.3rem 1.25rem rgba(75, 70, 90, 0.25);
       border-radius: 0.6rem;
}

.arngren-choice{
       background-size: 100%;
       background-position: center;
       border-radius: 0.6rem 0.6rem 0rem 0rem;
       width: 30.6rem;
       height: auto;
       display: inline-block;
}

.arngren-choice-03{
       background: url(images/Arngren-choice-3.jpeg);
       background-size: 100%;
       background-position: top;
       border-radius: 0.6rem 0.6rem 0rem 0rem;
       width: 30.6rem;
       height: 23rem;
}

.product-name{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 1rem;
}

.product h5{
       font-family: 'Montserrat';
       font-weight: 700;
       font-size: 1.25rem;
       color: #4B465A;
}

.product p{
       font-family: 'Montserrat';
       font-weight: 500;
       font-size: 1.25rem;
       color: #4B465A;
}

main button{
       background: none;
       align-items: center;
       border-radius: 0.3rem;
       border: 0.125rem solid #4B465A;
       padding: 0.8rem 4rem;
       font-family: 'Montserrat';
       font-weight: 700;
       font-size: 1.25rem;
       color: #4B465A;
}

main button:hover{
       background: #AA4E43;
       border: 0.125rem solid #AA4E43;
       color: white;
}

